*, *::before, *::after {
    margin: 0;
    padding: 0;
    text-decoration: none;  
    color: black;
}

body {
    background-color: #fffe78;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    section {
        width: 100%;
        height: 100%;

        &:nth-child(1) {
            height: 100%;
            // background-color: red;
            
            .landing-page {
                overflow-y: scroll;
                overflow-x: hidden;
                // background-color: blue;
                width: 100vw;
                height: 200vh;
                
                
                
                .presentation {
                    position: fixed;
                    top: 50%;
                    left: 300px;
                    
                    transform: translateY(-50%);

                    border: 1px solid red;
                    width: 45%;

                    p {
                        font-size: 15px;
                    }
                    h1 {
                        font-size: 5em;
                    }
                    &.notFixed {
                        position: relative;
                    }
                }
            }

            .appearingCard {
                position: absolute;
                top: 100vh;
                right: 0;

                width: 390px;
                height: 860px;
                background-color: white;
                border-radius: 25px;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                padding: 25px;
                margin-right: 50px;

                h2 {
                    font-family: 'Courier New', Courier, monospace;
                }
                p {
                    font-family: 'Courier New', Courier, monospace;
                }
            }
                
        }
        &:nth-child(2) {
            position: absolute;
            top: 200vh;
        }
    }
}